.createNewTask {
  display: flex;
  justify-content: center;
}

.createNewTask form {
  display: flex;

  margin-top: -1.625rem;
}

.createNewTask form input[type=text] {
  width: 43.875rem;

  margin-right: 0.5rem;
  border-radius: 6px;
  border: 0;

  background: var(--gray-500);

  text-indent: 1rem;
  color: var(--gray-100);
}

.createNewTask form input[type=text]:focus {
  border: 1px solid var(--purple-400);
}

.createNewTask form button {
  padding: 1rem;
  border-radius: 6px;
  border: 0;

  color: var(--gray-100);
  background: var(--blue-400);
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: background .2s;
}

.createNewTask form button:hover {
  background: var(--blue-200);
}

.createNewTask form button img {
  margin-left: 0.5rem;
}