.header {
  background: var(--gray-700);

  display: flex;
  justify-content: center;

  padding: 4.5rem 0;
}

.header h1 {
  color: var(--blue-200);
  font-size: 2.5rem;

  margin-left: 0.75rem;
}

.header span {
  color: var(--purple-400);
}