/* Task List Style */
.createdTasksList {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50.125rem;
  /* é o tamanho do input */
  margin: 0 auto;

  margin-top: 4rem;
}

.createdTasksList ul {
  list-style: none;
  width: 100%;
}