.createdTaskListItem {
  display: flex;
  justify-content: space-between;

  background: var(--gray-500);
  color: var(--gray-100);

  border-radius: 8px;
  padding: 1rem;
}

.createdTaskListItem+.createdTaskListItem {
  margin-top: 0.75rem;
}

.createdTaskListItem button {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

.createdTaskListItem button:hover {
  background: var(--gray-400);
  fill: var(--red-400);
}

/* Custom checkbox style */

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.customCheckbox input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 2px solid var(--purple-400);
  background-color: transparent;
  margin-right: 0.75rem;
  cursor: pointer;
}

.customCheckbox input[type=checkbox]:hover {
  border-color: var(--purple-200);
}

.customCheckbox input[type=checkbox]:checked {
  background: url("../assets/checked.svg") no-repeat center;
  background-color: var(--purple-400);
}

.customCheckbox input[type=checkbox]:checked:hover {
  background-color: var(--purple-200);
}

/* Checked style */

.taskChecked {
  text-decoration: line-through;
  color: var(--gray-300);
}